<ion-app>

  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="movements-list">
          <ion-list-header>FundWatcher</ion-list-header>
          
          <ion-fab vertical="top" horizontal="end" slot="fixed">
            <ion-fab-button (click)="showSettings()">
              <ion-icon name="settings-outline"></ion-icon>
            </ion-fab-button>
          </ion-fab>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" lines="none" detail="false" routerLinkActive="selected" 
              (click)="selectMonth(i)">
              <ion-icon slot="start" ios="calendar-outline" md="calendar-sharp"></ion-icon>
              <ion-label [color]="p.color">{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    
    
    <ion-router-outlet id="main-content"></ion-router-outlet>
    
  </ion-split-pane>
</ion-app>
